/* Google Fonts */
/* https://fonts.google.com/ */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Quintessential&display=swap");

/* Body */
body {
  color: white;
  background-color: bisque;
}

/* Code from W3Schools */
/* https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */
/* Style the video: 100% width and height to cover the entire window */
#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -3;
  filter: brightness(50%);
}

/* Header */
.display-4 {
  margin-bottom: 5rem;
  font-size: 5rem;
  font-family: "Quintessential", serif;
}

h2 {
  margin-bottom: 2.5rem;
}

/* List */
li {
  list-style-type: none;
  text-decoration: underline;
}

/* Footer */
/* Code from W3Schools */
/* https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

/* Instructions */
/* Code from W3Schools */
/* https://www.w3schools.com/howto/howto_css_tooltip.asp */
/* Tooltip container */
.instructions {
  position: relative;
  display: inline-block;
  margin: 1%;
  font-size: 1.5rem;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */

.instructions {
  margin-bottom: 2rem;
}

.instructionsTooltip {
  font-size: 1rem;
}

.instructions .instructionsTooltip {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.instructions .instructionsTooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.instructions:hover .instructionsTooltip {
  visibility: visible;
  opacity: 1;
}

/* Text content */
/* Centering code by Party_Refuse8887 */
/* https://old.reddit.com/r/webdev/comments/1diix0e/centering_a_div_nowadays_what_are_the_best/ */
.container {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  padding-top: 1%;
  padding-bottom: 1%;
  font-family: "Dosis", sans-serif;
}

/* Text Area */
.mb-3 textarea,
.mb-3 textarea::placeholder,
.form-control:focus {
  color: white;
  background-color: #3e403f;
}

/* Response Message */
.alert {
  color: white;
  background-color: #3e403f;
}
